@model Category
@{
    string style = "style" + ViewData["styleIterator"];
}

<article class="@style article-corrections">
    <span class="image fit-image">
        @if (Model.TitleImagePath == null)
        {
            <img class="fit-image" src="~/images/pic01.jpg" alt="" />
        }
        else
        {
            <img class="external-image-corrections" src="~/images/@Model.TitleImagePath" alt="" />
        }
    </span>
    @if (User.IsInRole("admin"))
    {
        <a asp-area="Admin" asp-controller="Categories" asp-action="Edit" asp-route-id="@Model.Id">
            <h2>@Model.Title</h2>
            <div class="content">
                <p>@Model.Subtitle</p>
            </div>
            <object type="owo/uwu">
                <div class="content">
                    <a class="deletelink" asp-area="Admin" asp-controller="Categories" asp-action="Delete" asp-route-id="@Model.Id">
                        <h2>Delete</h2>
                    </a>
                </div>
            </object>
        </a>
    }
    else
    {
        <a asp-area="" asp-controller="Home" asp-action="Show" asp-route-category="@Model.Title">
            <h2>@Model.Title</h2>
            <div class="content">
                <p>@Model.Subtitle</p>
            </div>
        </a>
    }
</article>