@model Post
@{ 
    ViewBag.Title = Model.Title;
}
<div id="main">
    <div class="inner">
        <h1>@Model.Title</h1>
        <h3>@Model.Subtitle</h3>
        <h5>@Model.DateAdded</h5>
        <span class="image main" style="border: 1px solid black;"><img src="~/images/@Model.TitleImagePath" alt="" /></span>
        <div>@Html.Raw(Model.Text)</div>
        <h4>Likes: @Model.AmountOfLikes</h4>
        @if (!ViewBag.isLiked)
        {
            <a asp-area="" asp-controller="Home" asp-action="LikePost" asp-route-postId="@Model.Id" style="color: forestgreen;">Like</a>
        }

        else
        {
            <a asp-area="" asp-controller="Home" asp-action="RemoveLike" asp-route-postId="@Model.Id" style="color: darkred;">Remove like</a>
        }
    </div>
</div>